        <h1>Your Panda information:</h1>
        <img src="https://wildlifetoursinchina.files.wordpress.com/2015/08/baby-panda-cubs-wallpaper-1.jpg" alt="" width="400px" height="250px">
        <img src="http://cdn.abclocal.go.com/content/kgo/images/cms/1534515_1280x720.jpg" alt="" width="400px" height="250px">
        <img src="http://i.dailymail.co.uk/i/pix/2015/11/17/12/2E85B50700000578-3322045-image-a-16_1447765012423.jpg" alt="" width="400px" height="250px"><br>
    <form action='/panda/' method='post'>
        Panda Name: <input class="form" type='text' name='name'><br> 
        Home town: <input class="form" type='text' name='home'><br> 
            <input class="form" type='submit' value='Submit'>
    </form>